body {
  background-image: url(https://i0.wp.com/cdn.hipwallpaper.com/i/79/96/aozweG.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  color: white;
  font-family: Kiwi Maru;
  text-align: center;
  animation: fadeInDown;
  animation-duration: 2s; }

.navegacion {
  width: 700px;
  margin: 5px auto; }
  .navegacion ul {
    list-style: none; }

.menu > li {
  position: relative;
  display: inline-block; }
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: Kiwi Maru;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s; }

.menu li a:hover {
  color: #CE7D35; }

.submenu {
  position: absolute;
  background: black;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s; }
  .submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: Kiwi Maru;
    text-decoration: none; }

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1; }

.veniEntrenar {
  color: #00080a;
  font-family: Kiwi Maru;
  font-weight: bold;
  display: flex;
  justify-content: center; }

p {
  font-family: Kiwi Maru; }

.contamosCon {
  color: white;
  font-family: Kiwi Maru; }

.introHistoria {
  color: #f2f7f2;
  font-family: Kiwi Maru;
  line-height: 2.5; }

tr th {
  color: goldenrod; }

tr td {
  color: honeydew; }

legend, label {
  color: honeydew; }

.tituloContact {
  color: white; }

.formulario {
  font-family: Kiwi Maru; }

footer {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.disponibilidad {
  color: white;
  text-align: center;
  font-family: Kiwi Maru; }

.horarios {
  color: white; }

.video {
  width: 600px; }

.tabla {
  text-align: center; }

.teMostramos {
  color: white;
  font-family: Kiwi Maru;
  text-align: center;
  font-weight: bold; }

.catPrinc, .catInter, .catAvanz {
  color: white;
  font-family: Kiwi Maru; }

.nuestrosEntre, .parrafoPrinc, .parrafoInter, .parrafoAvanz {
  color: black; }

.contenidoMultimedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: pulse;
  animation-duration: 2s; }

.nosotros .nosotros__nos1 {
  font-family: Kiwi Maru;
  justify-content: left; }

.nosotros .nosotros_nos2 {
  font-family: Kiwi Maru;
  justify-content: left;
  font-style: normal; }

.nosotros .nosotros__nos3 {
  font-family: Kiwi Maru;
  justify-content: left;
  font-style: italic; }

.nosotros .nosotros__nos4 {
  font-family: Kiwi Maru;
  justify-content: left;
  font-style: normal; }

.fotosNos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .fotosNos .fotosNos__ella {
    justify-content: left; }
  .fotosNos .fotosNos__el {
    justify-content: right; }

.grid {
  margin: 1em 0;
  border: 3px solid black;
  display: grid;
  grid-template-columns: fit-content(300px) 1fr;
  width: 600px;
  font-family: Kiwi Maru;
  font-weight: bold; }

img {
  max-width: 99%;
  display: block; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .veniEntrenar {
    display: inline-block; }
  .contenidoMultimedia {
    display: inline-block;
    width: auto; } }
