$colorh1: rgb(255, 255, 255);
$widthnav: 700px;
$positionsub: absolute;
$displayveni: flex;
@mixin tamanio($position, $display) {
    position: $position;
    display: $display;    
}
$font: Kiwi Maru;
$widthvid: 500px;

body {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/34/tennis-court-1081845_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: $colorh1;
    font-family: $font;
    text-align: center;
    animation: fadeInDown;
    animation-duration: 2s;
  }
  
  .navegacion {
    width: $widthnav;
    margin: 5px auto;
  
    ul {
      list-style: none;
    }
  }
  
  .menu {
    > li {
      @include tamanio(relative, inline-block);
  
      > a {
        display: block;
        padding: 15px 20px;
        color: black;
        font-family: $font;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s;
      }
    }
  
    li a:hover {
      color: #CE7D35;
    }
  }
  
  .submenu {
    position: $positionsub;
    background: black;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  
    li a {
      display: block;
      padding: 15px;
      color: #fff;
      font-family: $font;
      text-decoration: none;
    }
  }
  
  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
  
  .veniEntrenar {
    color: rgb(0, 8, 10);
    font-family: $font;
    font-weight: bold;
    display: $displayveni;
    justify-content: center;
  }
  
  p {
    font-family: $font;
  }
  
  .contamosCon {
    color: white;
    font-family: $font;
  }
  
  .introHistoria {
    color: rgb(242, 247, 242);
    font-family: $font;
    line-height: 2.5;
  }
  
  tr {
    th {
      color: goldenrod;
    }
  
    td {
      color: honeydew;
    }
  }
  
  legend, label {
    color: honeydew;
  }
  
  .tituloContact {
    color: rgb(255, 255, 255);
  }
  
  .formulario {
    font-family: $font;
  }
  
  footer {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  
  .disponibilidad {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: $font;
  }
  
  .horarios {
    color: rgb(255, 255, 255);
  }
  
  .video {
    width: ($widthvid)+100;
  }
  
  .tabla {
    text-align: center;
  }
  
  .teMostramos {
    color: rgb(255, 255, 255);
    font-family: $font;
    text-align: center;
    font-weight: bold;
  }
  
  .catPrinc, .catInter, .catAvanz {
    color: rgb(255, 255, 255);
    font-family: $font;
  }
  
  .nuestrosEntre, .parrafoPrinc, .parrafoInter, .parrafoAvanz {
    color: black;
  }
  
  .contenidoMultimedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: pulse;
    animation-duration: 2s;
  }

  .nosotros {
    .nosotros__nos1{
      font-family: $font;
      justify-content: left;
    }

    .nosotros_nos2{
      font-family: $font;
      justify-content: left;
      font-style: normal;
    }

    .nosotros__nos3{
      font-family: $font;
      justify-content: left;
      font-style: italic;
    }

    .nosotros__nos4{
      font-family: $font;
      justify-content: left;
      font-style: normal;
    }
  }
  
  .fotosNos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .fotosNos__ella{
      justify-content: left;
    }

    .fotosNos__el{
      justify-content: right;
    }
  }
  
  .grid {
    margin: 1em 0;
    border: 3px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: fit-content(300px) 1fr;
    width: 600px;
    font-family: $font;
    font-weight: bold;
  }
  
  img {
    max-width: 99%;
    display: block;
  }
  
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .veniEntrenar {
      display: inline-block;
    }
  
    .contenidoMultimedia {
      display: inline-block;
      width: auto;
    }
  }
