body {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/34/tennis-court-1081845_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Kiwi Maru;
    text-align: center;
    animation: fadeInDown;
    animation-duration: 2s;
}

.navegacion {
    width: 700px;
    margin: 5px auto;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: Kiwi Maru;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;
}

.menu li a:hover {
    color: #CE7D35;
}

.submenu {
    position: absolute;
    background: black;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: Kiwi Maru;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.veniEntrenar {
    color: rgb(0, 8, 10);
    font-family: Kiwi Maru;
    font-weight: bold;
    display: flex;
    justify-content: center;    
}

p {
    font-family: Kiwi Maru;
}

.contamosCon {
    color: white;
    font-family: Kiwi Maru;
}

.introHistoria {
    color: rgb(242, 247, 242);
    font-family: Kiwi Maru;
    line-height: 2.5;
}

tr th {
    color: goldenrod;
}

tr td {
    color: honeydew;
}

legend {
    color: honeydew;
}

label {
    color: honeydew;
}

.tituloContact {
    color: rgb(255, 255, 255);
}

.formulario {
    font-family: Kiwi Maru;
}

footer {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.disponibilidad {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Kiwi Maru;
}

.horarios {
    color: rgb(255, 255, 255);
}

.video {
    width: 600px;
}

.tabla {
    text-align: center;
}

.teMostramos {
    color: rgb(255, 255, 255);
    font-family: Kiwi Maru;
    text-align: center;
    font-weight: bold;
}

.Principiante {
    color: rgb(255, 255, 255);
    font-family: Kiwi Maru;
}

.Intermedia {
    color: rgb(255, 255, 255);
    font-family: Kiwi Maru;
}

.Avanzado {
    color: rgb(255, 255, 255);
    font-family: Kiwi Maru;
}

.nuestrosEntre {
    color: black;
    
}

.parrafoPrinc {
    color: black;
}

.parrafoInter {
    color: black;
}

.parrafoAvanz {
    color: black;
}

.contenidoMultimedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: pulse;
    animation-duration: 2s;
}

.fotosNos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.grid {
    margin: 1em 0;
    border: 3px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: fit-content(300px) 1fr;
    width: 600px;
    font-family: Kiwi Maru;
    font-weight: bold;
}

img {
    max-width: 99%;
    display: block;
}

@media screen and (max-width: 768px) and (min-width: 300px) {
    .veniEntrenar {
        display: inline-block;
    }

    .contenidoMultimedia {
        display: inline-block;
        width: auto;
    }
}

